.dialogs h2{
   margin-top: 0;
   margin-bottom: 10px;
}
.dialogs__dialogs{
   display: flex;
}

.dialogs__items{
   max-width: 25%;
   width: 100%;
   height: auto;
   margin: 0;
   border-right: 2px solid ;
}



.dialog__messages{
   width: 100%;
   height: auto;
   margin-left: 50px;
   margin-right: 50px;
}

.dialog__messagesI{
   text-align: right;
}